@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

body {
    color: #262626;
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
}

img {
    vertical-align: baseline;
}

#more {display: none;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    
   
  }
  .img-rounded {
    border-radius: 50%;
  }
  .image-rounded{
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      width: 10% ;
      height: 10%;
  }

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/*a {
    color: #262626;
}*/

/*a:visited {
    color: #757686;
}*/

/*a:hover, a:focus, a:active {
    color: #262626;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
    list-style: none;
}*/

/* 3D Slideshow */ 
* {
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  /* background-color: #6adecd; */
}



#slideshow {
  margin: 0 auto;
  padding-top: 10px;
  height: 600px;
  width: 100%;
 background-color: #f1f8f5;
 background-image: url("images/NkueneLogo.jpg");
 background-repeat: no-repeat;
 background-position: center;
 /* background-image: auto; */
 background-size: 1600px 600px;

  
box-sizing: border-box;
}

.slideshow-title {
  font-family: 'Allerta Stencil';
  font-size: 62px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 25%;
  letter-spacing: 3px;
  font-weight: 300;
}

.sub-heading {
  padding-top: 50px;
  font-size: 18px;
} .sub-heading-two {
  font-size: 15px;
} .sub-heading-three {
  font-size: 13px;
} .sub-heading-four {
  font-size: 11px;
} .sub-heading-five {
  font-size: 9px;
} .sub-heading-six {
  font-size: 7px;
} .sub-heading-seven {
  font-size: 5px;
} .sub-heading-eight {
  font-size: 3px;
} .sub-heading-nine {
  font-size: 1px;
}

.entire-content {
  margin: auto;
  width: 230px;
  perspective: 1000px;
  position: relative;
  padding-top: 130px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 100%;
  height: 200px;
  border: 1px solid #3b444b;
  overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(400px); 
} .content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(400px); 
} .content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(400px); 
} .content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(400px); 
} .content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(400px); 
} .content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(400px); 
} .content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(400px); 
} .content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(400px); 
} .content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(400px); 
} .content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(400px); 
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  } to {
    transform: rotateY(360deg);
  }
}








/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
/* :: 7.0 Header CSS */
.header-area {
  position: relative;
  z-index: 10;
  width: 100%;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  background-color: #1ca03d; }
  .header-area .top-header-area {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 50px;
    background-color: rgb(180, 152, 80);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .top-header-area {
        z-index: 1; } }
    @media only screen and (max-width: 767px) {
      .header-area .top-header-area {
        z-index: 1; } }
    .header-area .top-header-area .top-header-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header-area .top-header-area .top-header-content a {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 50px;
        display: inline-block; }
        .header-area .top-header-area .top-header-content a i {
          padding-right: 5px; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .header-area .top-header-area .top-header-content a span {
            display: none; } }
        @media only screen and (max-width: 767px) {
          .header-area .top-header-area .top-header-content a span {
            display: none; } }
        .header-area .top-header-area .top-header-content a:hover, .header-area .top-header-area .top-header-content a:focus {
          color: #215e15; }
      .header-area .top-header-area .top-header-content .btn {
        padding: 0; }
      .header-area .top-header-area .top-header-content .dropdown-menu {
        margin: 0; }
        .header-area .top-header-area .top-header-content .dropdown-menu .dropdown-item {
          padding: 0 20px;
          color: #303030;
          line-height: 35px;
          border-radius: 0; }
          .header-area .top-header-area .top-header-content .dropdown-menu .dropdown-item:hover {
            background-color: #1c66de;
            color: #ffffff; }
    .header-area .top-header-area .row .col-6:first-child .top-header-content a:first-child {
      padding-right: 30px; }
      @media only screen and (max-width: 767px) {
        .header-area .top-header-area .row .col-6:first-child .top-header-content a:first-child {
          padding-right: 15px; } }
    .header-area .top-header-area .row .col-6:first-child .top-header-content a:last-child {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      padding-left: 30px; }
      @media only screen and (max-width: 767px) {
        .header-area .top-header-area .row .col-6:first-child .top-header-content a:last-child {
          padding-left: 15px; } }
    .header-area .top-header-area .row .col-6:last-child .top-header-content {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .header-area .top-header-area .row .col-6:last-child .top-header-content a:first-child {
        padding-right: 30px; }
        @media only screen and (max-width: 767px) {
          .header-area .top-header-area .row .col-6:last-child .top-header-content a:first-child {
            padding-right: 15px; } }
      .header-area .top-header-area .row .col-6:last-child .top-header-content .dropdown {
        padding-left: 30px;
        border-left: 1px solid rgba(255, 255, 255, 0.1); }
        @media only screen and (max-width: 767px) {
          .header-area .top-header-area .row .col-6:last-child .top-header-content .dropdown {
            padding-left: 15px; } }


.classy-nav-container {
  background-color: transparent;
  padding: 0; }
  .classy-nav-container .classy-navbar {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    height: 100px;
    padding: 0; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .classy-nav-container .classy-navbar {
        height: 70px; } }
    @media only screen and (max-width: 767px) {
      .classy-nav-container .classy-navbar {
        height: 70px; } }
    @media only screen and (max-width: 767px) {
      .classy-nav-container .classy-navbar .nav-brand {
        max-width: 90px;
        margin-right: 15px; } }
    .classy-nav-container .classy-navbar .classynav ul li a {
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      font-weight: 500;
      padding: 0 20px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          font-size: 14px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          font-size: 14px;
          color: #303030; }
          .classy-nav-container .classy-navbar .classynav ul li a:hover, .classy-nav-container .classy-navbar .classynav ul li a:focus {
            color: #1c66de; } }
      @media only screen and (max-width: 767px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          font-size: 14px;
          color: #303030; }
          .classy-nav-container .classy-navbar .classynav ul li a:hover, .classy-nav-container .classy-navbar .classynav ul li a:focus {
            color: #1c66de; } }
      .classy-nav-container .classy-navbar .classynav ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li a:hover {
        color: #acacac;
        font-weight: 500; }
    .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a {
      font-size: 14px;
      text-transform: capitalize;
      height: 42px;
      line-height: 42px;
      padding: 0 30px;
      color: #303030; }
      .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a:hover, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a:hover {
        color: #1c66de; }

.classynav ul li.active a {
  position: relative;
  z-index: 1; }
  .classynav ul li.active a::before {
    width: 80%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 1;
    content: ''; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .classynav ul li.active a::before {
        display: none; } }
    @media only screen and (max-width: 767px) {
      .classynav ul li.active a::before {
        display: none; } }

.classynav ul li.has-down > a::after,
.classynav ul li.has-down.active > a::after,
.classynav ul li.megamenu-item > a::after {
  color: #ffffff; }

.breakpoint-off .classynav ul li .dropdown,
.breakpoint-off .classynav ul li .megamenu {
  width: 250px;
  -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  border-radius: 6px; }

.breakpoint-off .classynav ul li .megamenu {
  width: 100%; }

.classy-navbar-toggler .navbarToggler span {
  background-color: #ffffff; }


.hami-btn {
  position: relative;
  z-index: 1;
  min-width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  padding: 0 40px !important;
  text-align: center;
  text-transform: capitalize;
  background-color: #1ca03d;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .hami-btn:focus, .hami-btn:hover {
    font-weight: 600;
    -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    background-color: #ffffff;
    color: #1ca03d; }
  .hami-btn.btn-2 {
    background-color: #ffffff;
    color: #1c66de; }
    .hami-btn.btn-2:focus, .hami-btn.btn-2:hover {
      color: #ffffff;
      background-color: #1c66de; }
  .hami-btn.live--chat--btn {
    border: 1px solid #ffffff;
    line-height: 48px;
    color: #ffffff; }


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-slider {
    max-height: 820px;
}

.hero-content-wrap {
    position: relative;
    color: #fff;
}

.hero-content-overlay {
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
}

.hero-content-wrap img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
}

.hero-content-overlay h1 {
    margin: 0;
    font-size: 102px;
    font-weight: 600;
    line-height: 1;
}

.hero-content-overlay h4 {
    margin: 0;
    font-size: 46px;
    font-weight: 600;
}

.hero-content-overlay p {
    font-weight: 500;
    line-height: 1.8;
}

.hero-content-overlay .entry-footer a.btn {
    color: #fff;
}

.hero-slider .pagination-wrap {
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 60px;
}


.hero-slider .swiper-pagination-bullet {
    width: 24px;
    height: 20px;
    margin-right: 6px;
    border-radius: 0;
    font-size: 12px;
    color: #fff;
    background: transparent;
    opacity: 1;
}

.hero-slider .swiper-pagination-bullet-active {
    color: #0fa334;
}

.hero-slider .swiper-button-next,
.hero-slider .swiper-button-prev {
    width: 70px;
    height: 70px;
    margin-top: -35px;
    border-radius: 50%;
    background: -moz-linear-gradient(180deg, rgb(35, 90, 0,1) 0%, rgb(91, 180, 91) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(91,180,91)), color-stop(100%, rgba(1255,54,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgb(35, 90, 0,1) 0%, rgb(91, 180, 91) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgb(35, 90, 0,1) 0%, rgb(91, 180, 91) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgb(35, 90, 0,1) 0%, rgb(91, 180, 91) 100%); /* ie10+ */
    background: linear-gradient(270deg, rgb(35, 90, 0,1) 0%, rgb(91, 180, 91) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff3600',GradientType=1 ); /* ie6-9 */
    transition: all .35s;
}

.hero-slider .swiper-button-next {
    right: 80px;
}

.hero-slider .swiper-button-prev {
    left: 80px;
}

.hero-slider .swiper-button-next span,
.hero-slider .swiper-button-prev span {
    display: block;
    width: 36px;
    padding-top: 15px;
    margin: 0 auto;
}

.hero-slider .swiper-button-next path,
.hero-slider .swiper-button-prev path {
    fill: #fff;
}

.hero-slider .swiper-button-next.swiper-button-disabled,
.hero-slider .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

@media screen and (max-width: 1200px){
    .hero-content-overlay h1 {
        font-size: 72px;
    }

    .hero-content-overlay h4 {
        font-size: 32px;
    }

    .hero-content-overlay p {
        font-size: 14px;
    }

    .hero-slider .pagination-wrap {
        height: 40px;
    }
}

@media screen and (max-width: 992px){
    .hero-content-overlay h1 {
        font-size: 48px;
    }

    .hero-content-overlay h4 {
        font-size: 22px;
    }

    .hero-content-overlay p,
    .hero-slider .pagination-wrap,
    .hero-slider .swiper-button-next,
    .hero-slider .swiper-button-prev{
        display: none;
    }

    .hero-content-overlay footer{
        margin-top: 12px !important;
    }
}

/*--------------------------------------------------------------
# Elements Page
--------------------------------------------------------------*/
.elements-wrap {
    margin-top: 80px;
}

.elements-page .elements-heading .entry-title {
    font-size: 24px;
    font-weight: 600;
    color: #262626;
}

.elements-page .elements-container {
    margin-top: 54px;
}

.elements-page .btn {
    margin-right: 20px;
}

/*
# Button
----------------------------------*/
.btn {
    padding: 18px 40px;
    border: 2px solid #262626;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #262626;
    outline: none;
}

.btn:focus {
    outline: none;
}

.btn.orange-border {
    border-color: #0e7e20;
}





.btn.orange-border:hover,
.btn.gradient-bg {
    border-color: transparent;
    background: -moz-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(91,180,91) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(91,180,91)), color-stop(100%, rgba(1255,54,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(91,180,91) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(91,180,91) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(91,180,91) 100%); /* ie10+ */
    background: linear-gradient(270deg, rgba(35,90,0,1) 0%, rgba(91,180,91) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff3600',GradientType=1 ); /* ie6-9 */
    color: #fff;
}

/*
# Accordion
----------------------------------*/
.accordion-wrap {
    position: relative;
}

.accordion-wrap .entry-content {
    margin: 0;
}

.accordion-wrap .entry-title {
    padding: 12px 38px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: #f3f3f3;
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    cursor: pointer;
}

.accordion-wrap .entry-title.active {
    border: 0;
    background: -moz-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(91,180,91) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(91,180,91)), color-stop(100%, rgba(1255,54,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(91,180,91) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(91,180,91) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(91,180,91) 100%); /* ie10+ */
    background: linear-gradient(270deg, rgba(35,90,0,1) 0%, rgba(91,180,91) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff3600',GradientType=1 ); /* ie6-9 */
    color: #fff;
}

.accordion-wrap .entry-title .arrow-r::before,
.accordion-wrap .entry-title .arrow-d::before {
    content: "+";
    font-size: 24px;
    font-weight: 400;
}

.accordion-wrap .entry-title .arrow-d::before {
    content: "-";
}

/*
# Content
----------------------------------*/
.accordion-wrap .entry-content {
    display: none;
}

.accordion-wrap .entry-content p {
    padding: 18px 38px;
    font-size: 14px;
    line-height: 2;
    color: #929191;
}

/*
# Tabs
----------------------------------*/
ul.tabs-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.tabs-nav .tab-nav {
    padding: 12px 32px;
    margin-right: 6px;
    border-radius: 30px;
    background: #f3f3f3;
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    cursor: pointer;
    transition: all .35s;
}

ul.tabs-nav .tab-nav.active {
    border: 0;
    background: -moz-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(90,180,91) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(90,180,91)), color-stop(100%, rgba(1255,54,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(90,180,91) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(90,180,91) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(90,180,91) 100%); /* ie10+ */
    background: linear-gradient(270deg, rgba(35,90,0,1) 0%, rgba(90,180,91) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff3600',GradientType=1 ); /* ie6-9 */
    color: #fff;
}

.tabs .tab-nav {
    margin-bottom: -1px;
    z-index: 99;
}

.tabs-container {
    padding: 34px;
}

.tab-content {
    display: none;
}

.tab-content p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 2;
    color: #929191;
}

/*
# Circular Progress Bar
----------------------------------*/
.circular-progress-bar {
    margin: 20px 0;
    text-align: center;
}

.circular-progress-bar .circle {
    position: relative;
    width: 156px;
    height: 156px;
    margin: 0 auto;
}

.circular-progress-bar .circle strong {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -24px;
    width: 100%;
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
    color: #262626;
}

.circular-progress-bar .circle strong i {
    margin-top: 5px;
    font-size: 24px;
    font-style: normal;
}

.circular-progress-bar .entry-title {
    margin-top: 32px;
    font-size: 18px;
    font-weight: 600;
    color: #262626;
}

/*
# Counter Box
----------------------------------*/
.counter-box {
    margin: 20px 0;
    text-align: center;
}

.counter-box .start-counter {
    margin-top: 10px;
    font-size: 48px;
    font-weight: 500;
    color: #262626;
}

.counter-box .counter-k {
    font-size: 24px;
    font-weight: 500;
}

.counter-box .entry-title {
    margin-top: 16px;
    font-size: 14px;
    color: #595858;
}

/*
# Icon Box
----------------------------------*/
.icon-box {
    padding: 40px;
    border-radius: 24px;
    background: #ecf2f5;
    text-align: center;
    transition: all .35s;
}

.icon-box:hover,
.icon-box.active {
    border: 0;
    background: -moz-linear-gradient(180deg, rgb(35, 90, 0,1) 0%, rgb(91, 180, 91) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgb(91, 180, 91)), color-stop(100%, rgba(1255,54,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgb(91, 180, 91) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(91,180,91) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(91,180,91) 100%); /* ie10+ */
    background: linear-gradient(270deg, rgba(35,90,0,1) 0%, rgba(91,180,91) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff3600',GradientType=1 ); /* ie6-9 */
    color: #fff;
}

.icon-box figure img:nth-of-type(1) {
    display: block;
}

.icon-box figure img:nth-of-type(2) {
    display: none;
}

.icon-box:hover figure img:nth-of-type(1),
.icon-box.active figure img:nth-of-type(1) {
    display: none;
}

.icon-box:hover figure img:nth-of-type(2),
.icon-box.active figure img:nth-of-type(2) {
    display: block;
}

.icon-box .entry-title {
    margin-top: 28px;
    font-size: 24px;
    font-weight: 600;
    color: #262626;
}

.icon-box:hover .entry-title,
.icon-box.active .entry-title {
    color: #fff;
}

.icon-box .entry-content {
    margin-top: 24px;
}

.icon-box .entry-content p {
    margin: 0;
    font-size: 14px;
    color: #595858;
}

.icon-box:hover .entry-content p,
.icon-box.active .entry-content p {
    color: #fff;
}

/*
# Bar Filler
----------------------------------*/
.barfiller {
    position:relative;
    width:100%;
    height:5px;
    border-radius: 3px;
    background:#d6dee1;
}

.barfiller .fill {
    display:block;
    position:relative;
    width:0px;
    height:100%;
    border-radius: 3px;
    background:#333;
    z-index:1;
}


.barfiller .tipWrap {
    display:none;
    
   
}

.barfiller .tip {
    left: 0;
    position: absolute;
    z-index: 2;
    width: 42px;
    height: 42px;
    padding-top: 14px;
    margin-top: -21px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    background: #098624;
    color: #fff;
}

/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
/*
# Icon Boxes
--------------------------------*/
.home-page-icon-boxes {
    padding: 96px 0;
}

/*
# Welcome
--------------------------------*/
.home-page-welcome {
    position: relative;
    padding: 96px 0;
    background: url("images/welcome-bg.jpg") no-repeat center;
    background-size: cover;
    z-index: 99;
}

.home-page-welcome::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(28, 51, 56, 0.8);
    /* background: rgba(21,21,21,.9); */
}

.welcome-content .entry-title {
    position: relative;
    padding-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.welcome-content .entry-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 4px;
    border-radius: 2px;
    background: #057e3b;
}

.welcome-content .entry-content {
    font-size: 14px;
    line-height: 2;
    color: #b7b7b7;
}

.home-page-welcome img {
    display: block;
    width: 100%;
}

@media screen and (max-width: 992px){
    .home-page-welcome img {
        margin-bottom: 60px;
    }
}

/*
# Upcoming Events
--------------------------------*/
.home-page-events {
    padding: 96px 0;
}

.section-heading .entry-title {
    position: relative;
    padding-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
}

.section-heading  .entry-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 4px;
    border-radius: 2px;
    background: #066917;
}

@media screen and (max-width: 992px) {
    .home-page-events .featured-cause .section-heading {
        margin-top: 80px;
    }
}

.event-wrap {
    margin-top: 40px;
}

.event-wrap figure {
    width: 144px;
    height: auto;
}

.event-wrap figure img {
    display: block;
    width: 100%;
}

.event-content-wrap {
    width: calc(100% - 180px);
    margin-top: -10px;
}

.event-content-wrap .entry-title a {
    font-size: 18px;
    font-weight: 600;
    color: #262626;
}

.event-content-wrap .posted-date a,
.event-content-wrap .cats-links a {
    display: block;
    position: relative;
    margin-top: 6px;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    color: #262626;
}

.event-content-wrap .posted-date a {
    padding-right: 14px;
    margin-right: 14px;
}

.event-content-wrap .posted-date a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #262626;
}

.event-content-wrap .entry-content {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #929191;
}

.event-content-wrap .entry-footer a {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #0a6916;
    text-decoration: none;
}

/*
# Featured Cause
--------------------------------*/
.home-page-events {
    padding: 96px 0;
}

.cause-wrap {
    margin-top: 50px;
}

.featured-cause .cause-wrap {
    padding: 40px 24px;
    background: #edf3f5;
}

.featured-cause .featured-cause .cause-wrap figure {
    width: 246px;
    height: auto;
}

.cause-wrap figure img {
    display: block;
    width: 100%;
}

.featured-cause .cause-content-wrap {
    width: calc(100% - 280px);
}

.cause-content-wrap .entry-title a {
    font-size: 18px;
    font-weight: 600;
    color: #262626;
}

.cause-content-wrap .posted-date a,
.cause-content-wrap .cats-links a {
    display: block;
    position: relative;
    margin-top: 6px;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    color: #262626;
}

.cause-content-wrap .posted-date a {
    padding-right: 14px;
    margin-right: 14px;
}

.cause-content-wrap .posted-date a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #262626;
}

.cause-content-wrap .entry-content {
    margin-top: 28px;
    margin-bottom: 0;
    font-size: 14px;
    color: #929191;
}

.cause-wrap .fund-raised {
    margin-top: 64px;
}

.fund-raised-details {
    font-size: 14px;
    color: #929191;
}

/*
# Home Causes
--------------------------------*/
.our-causes {
    position: relative;
    padding: 96px 0;
    /* background: url("images/cause-bg.jpg") no-repeat center; */
    background-size: cover;
    z-index: 99;
}

.our-causes::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(232,237,238,.8);
}

.our-causes .cause-wrap {
    margin-top: 60px;
}

.our-causes .cause-wrap figure {
    position: relative;
}

.our-causes .cause-wrap figure .figure-overlay {
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: rgba(0,0,0,.7);
    transition: all .5s;
}

.our-causes .cause-wrap figure:hover .figure-overlay {
    opacity: 1;
    visibility: visible;
}

.our-causes .cause-content-wrap {
    padding: 32px;
    background: #fff;
}

.our-causes .cause-content-wrap .entry-content {
    margin-top: 20px;
}

.our-causes .cause-wrap .fund-raised {
    margin-top: 48px;
}

.our-causes .swiper-button-next,
.our-causes .swiper-button-prev {
    width: 70px;
    height: 70px;
    margin-top: -10px;
    border-radius: 50%;
    background: -moz-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(90,180,91) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(90,180,91)), color-stop(100%, rgba(1255,54,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgb(35,90,0,1) 0%, rgba(90,180,91) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(90,180,91) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgba(35,90,0,1) 0%, rgba(90,180,91) 100%); /* ie10+ */
    background: linear-gradient(270deg, rgba(35,90,0,1) 0%, rgba(90,180,91) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff3600',GradientType=1 ); /* ie6-9 */
    transition: all .35s;
}

.our-causes .swiper-button-next {
    right: -120px;
}

.our-causes .swiper-button-prev {
    left: -120px;
}

.our-causes .swiper-button-next span,
.our-causes .swiper-button-prev span {
    display: block;
    width: 36px;
    padding-top: 15px;
    margin: 0 auto;
}

.our-causes .swiper-button-next path,
.our-causes .swiper-button-prev path {
    fill: #fff;
}

.our-causes .swiper-button-next.swiper-button-disabled,
.our-causes .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

@media screen and (max-width: 1400px){
    .our-causes .swiper-button-next {
        right: 0;
    }

    .our-causes .swiper-button-prev {
        left: 0;
    }
}

@media screen and (max-width: 576px){
    .our-causes .swiper-button-next,
    .our-causes .swiper-button-prev {
        display: none;
    }
}

/*
# Home Milestone
--------------------------------*/
.home-page-limestone {
    padding: 96px 0;
}

.home-page-limestone .section-heading .entry-title {
    padding-bottom: 36px;
    line-height: 1.6;
}

.home-page-limestone .section-heading p {
    font-size: 14px;
    color: #595858;
}

/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/
.single-page .page-header {
    position: relative;
    z-index: -1;
    padding-top: 100px;
    padding-bottom: 72px;
    background-size: cover !important;
}

.single-page .page-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
}

.single-page .page-header h1 {
    position: relative;
    padding-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.single-page .page-header h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 4px;
    border-radius: 2px;
    background: rgb(44, 148, 12);
}

.about-page .page-header {
    background: url(images/students.webp) no-repeat center;
}

.about-page .welcome-wrap {
    padding: 96px 0;
}

.about-page .welcome-content .entry-title {
    color: #262626;
}

@media screen and (max-width: 992px){
    .about-page .welcome-content .entry-title {
        margin-top: 60px;
    }
}

.about-page .welcome-content .entry-content {
    color: #929191;
}

.about-page .welcome-wrap img {
    display: block;
    width: 100%;
}

.about-stats {
    padding: 96px 0;
    background: #262626;
}

.about-stats .circular-progress-bar .circle strong,
.about-stats .circular-progress-bar .entry-title {
    color: #fff;
}

.about-testimonial {
    padding: 0 0 96px;
}

.testimonial-cont {
    margin-top: 96px;
}

.testimonial-cont,
.testimonial-cont p {
    position: relative;
}

.testimonial-cont::before {
    content: '“';
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
    line-height: 1;
    color: #07862d;
}

.testimonial-cont .entry-content {
    padding-top: 42px;
}

.testimonial-cont p {
    padding-bottom: 32px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.6;
    font-style: italic;
}

.testimonial-cont p::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 4px;
    border-radius: 2px;
    background: #026824;
}

.testimonial-cont .entry-footer img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.testimonial-cont .entry-footer h4 {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #595858;
}

.testimonial-cont .entry-footer h4 span {
    color: #0c5e31;
}

.help-us {
    padding: 70px 0 96px;
    background: #06550c;
}

.help-us h2 {
    margin-top: 36px;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.help-us .btn {
    margin-top: 36px;
}

.help-us .btn,
.help-us .btn:hover {
    border-color: #fff;
    color: #fff;
}

/*--------------------------------------------------------------
# Causes
--------------------------------------------------------------*/
.causes-page .page-header {
    background: url(images/students.webp) no-repeat center;
}

.causes-page .featured-cause {
 padding: 96px 0;
}

.causes-page .our-causes {
    position: relative;
    padding:  70px 0 96px;
    background: none;
}

.causes-page .our-causes .cause-wrap {
    margin-top: 36px;
}

.causes-page .our-causes::after {
    display: none;
}

.causes-page .our-causes .cause-content-wrap {
    border: 1px solid #e0e0e0;
    border-top: 0;
}

.causes-page .highlighted-cause {
    padding: 46px 0 96px;
    background: #262626;
}

.causes-page .highlighted-cause .entry-title {
    padding-right: 24px;
    margin-top: 60px;
    line-height: 1.6;
    color: #fff;
}

.causes-page .highlighted-cause .entry-title::before {
    display: none;
}

.causes-page .highlighted-cause .entry-content {
    font-size: 14px;
    line-height: 2;
    color: #edf3f5;
}

.causes-page .highlighted-cause img {
    width: 100%;
    margin-top: 60px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .cause-wrap figure {
        width: 100%;
    }

    .featured-cause .cause-content-wrap {
        width: 100%;
        margin-top: 40px;
    }
}

@media screen and (max-width: 576px) {
    .cause-wrap figure {
        width: 100%;
    }

    .featured-cause .cause-content-wrap {
        width: 100%;
        margin-top: 40px;
    }
}

/*--------------------------------------------------------------
# Single Cause
--------------------------------------------------------------*/
.single-cause .page-header {
    background: url(images/single-cause-bg.jpg) no-repeat center;
}

.single-cause .highlighted-cause {
    padding: 46px 0 96px;
}

.single-cause .highlighted-cause .entry-title {
    padding-right: 24px;
    margin-top: 60px;
    line-height: 1.6;
}

.single-cause .highlighted-cause .entry-content {
    color: #929191;
}

.single-cause .highlighted-cause img {
    width: 100%;
    margin-top: 60px;
}

/*
# Short Content
--------------------------------*/
.short-content-wrap {
    padding-bottom: 96px;
}

.short-content .entry-title {
    font-size: 18px;
    font-weight: 500;
}

.short-content p {
    margin-top: 40px;
    font-size: 14px;
    color: #929191;
}

/*
# Donation Form
--------------------------------*/
.donation-form-wrap {
    padding: 96px 64px;
    margin-bottom: 96px;
    background: #edf3f5;
}

.donation-form-wrap h2 {
    font-size: 30px;
    font-weight: 500;
}

.donation-form-wrap h4 {
    font-size: 16px;
    font-weight: 500;
}

.donation-form .radio-label {
    display : block;
}

.donation-form .radio-label > input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

.donation-form .radio-label > input + .donate-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 40px 30px;
    margin-right: 15px;
    border: 2px solid #e0e0e0;
    font-size: 30px;
    line-height: 1;
    font-weight: 500;
    background: #fff;
}

.donation-form .radio-label:nth-last-of-type(1) > input + .donate-amount {
    margin-right: 0;
}

.donation-form .radio-label > input:checked + .donate-amount {
    border-color: #03833d;
}

.donation-form .payment-type input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

.donation-form .payment-type label {
    position: relative;
    margin-right: 40px;
    font-size: 14px;
    line-height: 1;
    color: #6a6a6a;
}

.donation-form .payment-type input[type="radio"] + .payment-type-radio {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.donation-form .payment-type input[type="radio"] + .payment-type-radio + .centered-dot {
    visibility: hidden;
    display: block;
    position: absolute;
    left: 7px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #044d0a;
}

.donation-form .payment-type input[type="radio"]:checked + .payment-type-radio {
    border-color: #143f07;
}


.donation-form .payment-type input[type="radio"]:checked + .payment-type-radio + .centered-dot {
    visibility: visible;
}

.billing-information input {
    width: calc(50% - 14px);
    padding: 12px 30px;
    margin-top: 28px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 1;
}

.billing-information input::placeholder {
    color: #929191;
}

@media screen and (max-width: 768px){
    .billing-information input {
        width: 100%;
    }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .page-header {
    background: url(images/students.webp) no-repeat center;
}

.portfolio-wrap {
    padding: 96px 0;
}

.portfolio-wrap .mt-48 {
    margin-top: 45px;
}

.portfolio-wrap .mt-72 {
    margin-top: 72px;
}

.portfolio-wrap .portfolio-item {
    display: none;
    margin-bottom: 30px;
}

.portfolio-wrap .portfolio-item.visible {
    display: block;
}

.portfolio-cont {
    margin-bottom: 20px;
}

.portfolio-cont img {
    width: 100%;
}

.portfolio-cont .entry-title {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 500;
}

.portfolio-cont .entry-title a {
    color: #262626;
}

.portfolio-cont h4 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #05611c;
}

/*--------------------------------------------------------------
# News
--------------------------------------------------------------*/
.news-page .page-header {
    background: url(images/news-bg.jpg) no-repeat center;
}

.news-wrap {
    padding: 96px 0;
}

.news-content {
    margin-bottom: 64px;
}

.news-content:nth-last-of-type(1) {
    margin-bottom: 0;
}

.news-content img {
    display: block;
    width: 100%;
    margin: 0;
}

.news-content .entry-header {
    margin-top: 34px;
}

.news-content .entry-header .header-elements,
.news-content .donate-icon  {
    margin-top: 30px;
}

.news-content .entry-title {
    font-size: 24px;
    font-weight: 500;
}

.news-content .entry-title a {
    color: #262626;
}

.news-content .posted-date {
    font-size: 14px;
    font-weight: 500;
    color: #076d32;
}

.post-metas {
    font-size: 12px;
    line-height: 1;
    color: #929191;
}

.post-metas a {
    color: #929191;
}

.post-metas > span {
    display: block;
    padding-right: 10px;
    margin-top: 6px;
    margin-right: 10px;
    border-right: 1px solid #929191;
}

.post-metas > span:nth-last-of-type(1) {
    border: 0;
    padding-right: 0;
    margin-right: 0;
}

.news-content .entry-content {
    margin-top: 32px;
    font-size: 14px;
    color: #929191;
}

.news-content .entry-footer {
    margin-top: 56px;
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.pagination {
    margin-top: 92px;
}

.pagination a {
    margin-right: 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: #262626;
    text-decoration: navajowhite;
}

.pagination a:hover,
.pagination .active a {
    color: #0b4906;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
@media screen and (max-width: 992px){
    .sidebar {
        margin-top: 96px;
    }
}

.sidebar h2 {
    font-size: 18px;
    font-weight: 600;
}

/*
# Search
--------------------------------*/
.search-widget input[type="search"] {
    width: calc(100% - 76px);
    height: 52px;
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    outline: none;
}

.search-widget input[type="search"]::placeholder {
    color: #929191;
}

.search-widget button[type="submit"] {
    width: 75px;
    height: 54px;
    border: 0;
    margin-left: -5px;
    font-size: 14px;
    font-weight: 500;
    background: #084702;
    color: #fff;
    cursor: pointer;
    outline: none;
}

/*
# Popular Posts
--------------------------------*/
.popular-posts {
    margin-top: 60px;
}

.popular-posts ul {
    list-style: none;
    margin: 60px 0 0;
}

.popular-posts li {
    margin-bottom: 15px;
}

.popular-posts li:nth-last-of-type(1) {
    margin-bottom: 0;
}

.popular-posts figure,
.popular-posts figure a ,
.popular-posts figure img {
    display: block;
    margin: 0;
}

.popular-posts figure {
    width: 72px;
}

.popular-posts .entry-content {
    width: calc(100% - 100px);
}

.popular-posts h3 {
    font-size: 14px;
    font-weight: 500;
}

.popular-posts h3 a {
    color: #262626;
}

.popular-posts .posted-date {
    font-size: 12px;
    color: #03531e;
}

/*
# Upcoming Events
--------------------------------*/
.sidebar .upcoming-events {
    margin-top: 60px;
}

.sidebar .upcoming-events ul {
    list-style: none;
    margin: 60px 0 0;
}

.sidebar .upcoming-events li {
    margin-bottom: 32px;
}

.sidebar .upcoming-events li:nth-last-of-type(1) {
    margin-bottom: 0;
}

.sidebar .upcoming-events figure,
.sidebar .upcoming-events figure a ,
.sidebar .upcoming-events figure img {
    display: block;
    margin: 0;
}

.sidebar .upcoming-events figure {
    width: 140px;
    /*margin-right: 24px;*/
}

.sidebar .upcoming-events .entry-content {
    width: calc(100% - 140px);
}

.sidebar .upcoming-events h3 {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
}

.sidebar .upcoming-events h3 a {
    color: #262626;
}

.sidebar .upcoming-events .post-metas {
    font-size: 11px;
    line-height: 1;
    color: #21b10e;
}

.sidebar .upcoming-events .post-metas a {
    color: #262626;
}

.sidebar .upcoming-events .post-metas > span {
    display: block;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #262626;
}

.sidebar .upcoming-events .post-metas > span:nth-last-of-type(1) {
    border: 0;
    padding-right: 0;
    margin-right: 0;
}

.sidebar .upcoming-events p {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 14px;
    color: #929191;
}

/*
# Featured Cause
--------------------------------*/
.sidebar .featured-cause {
    margin-top: 60px;
}

.sidebar .featured-cause .cause-wrap {
    padding: 0;
    background: none;
}

.sidebar .featured-cause .featured-cause .cause-wrap figure {
    width: 100%;
}

.sidebar .cause-wrap figure img {
    display: block;
    width: 100%;
}

.sidebar .featured-cause .cause-content-wrap {
    width: 100%;
    padding: 32px;
    margin-top: 0;
    border: 1px solid #e0e0e0;
    border-top: 0;
}

/*--------------------------------------------------------------
# Contact Page
--------------------------------------------------------------*/
.contact-page .page-header {
    background: url(images/students.webp) no-repeat center;
}

.contact-page-wrap {
    padding: 0 0 96px;
}

.contact-page-wrap .entry-content {
    margin-top: 96px;
}

.contact-page-wrap .entry-content h2 {
    font-size: 24px;
    font-weight: 500;
}

.contact-page-wrap .entry-content p {
    margin-top: 20px;
    font-size: 14px;
    color: #929191;
}

.contact-page-wrap .entry-content ul.contact-social {
    padding: 20px 0 0;
    margin: 0;
    list-style: none;
}

.contact-page-wrap .entry-content ul.contact-social li {
    margin-right: 28px;
    margin-bottom: 8px;
    font-size: 14px;
}

.contact-page-wrap .entry-content ul.contact-social li a {
    color: #078337;
}

.contact-page-wrap .entry-content ul.contact-info {
    margin: 32px 0 0;
}

.contact-page-wrap .entry-content ul.contact-info li {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
    font-size: 14px;
    color: #9b9a9a;
}

.contact-page-wrap .entry-content ul.contact-info .fa {
    width: 28px;
    margin-right: 10px;
    font-size: 18px;
    color: #0c8015;
    text-align: center;
}

.contact-form {
    padding: 35px 20px 55px;
    margin-top: 96px;
    background: #edf3f5;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 12px 24px;
    margin-bottom: 18px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 1;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    outline: none;
}

.contact-form input[type="text"]::placeholder,
.contact-form input[type="email"]::placeholder,
.contact-form textarea::placeholder {
    color: #929191;
}

.contact-form span {
    display: block;
    margin-top: 16px;
    text-align: center;
}

.contact-form input[type="submit"] {
    cursor: pointer;
}

.contact-page .contact-gmap {
    margin-top: 92px;
}

.contact-page .contact-gmap iframe {
    display: block;
    width: 100%;
    height: 440px;
}

/*--------------------------------------------------------------
# Contact Page
--------------------------------------------------------------*/
.elements-page .page-header {
    background: url(images/students.webp) no-repeat center;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-widgets {
    position: relative;
    padding: 96px 0 90px;
    font-weight: 500;
    color: #929191;
    background: url("images/students.webp") no-repeat center; 
    background-size: cover;
    z-index: 99;
    
}

.footer-widgets::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 101%;
    background: rgba(2, 36, 17, 0.92);
}

.footer-widgets h2 {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
}

.footer-widgets ul {
    padding: 12px 0 0;
    margin: 0;
    list-style: none;
}

.footer-widgets ul li {
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-widgets ul li a {
    color: #a2a1a1;
    text-decoration: none;
}

.footer-widgets ul li a:hover {
    color: #105e2a;
}

.foot-about p {
    font-size: 14px;
    line-height: 2;
    color: #929191;
}

.foot-about ul li {
    margin-right: 28px;
}

.foot-about ul li a {
    color: #fff;
}

.foot-latest-news ul li {
    display: block;
    margin-bottom: 36px;
}

.foot-latest-news ul li h3 {
    font-size: 14px;
}

.foot-latest-news ul li .posted-date {
    font-size: 12px;
    color: #dfece2;
}

.foot-contact ul li {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}

.foot-contact ul li .fa {
    width: 28px;
    margin-right: 10px;
    font-size: 18px;
    text-align: center;
    color: #086620;
}

.foot-contact ul li span {
    width: calc(100% - 3px);
}
.foot-logo img{
    height: 100px;
    width:auto;
    

}

/*
# Subscribe
--------------------------------*/
.subscribe-form {
    margin-top: 50px;
}

.subscribe-form input[type="email"] {
    width: calc(100% - 70px);
    padding: 12px 16px;
    border: 0;
    font-size: 12px;
    line-height: 1;
    background: #fff;
    color: #121312;
    outline: none;
}

.subscribe-form input[type="email"]::placeholder {
    color: #9b9a9a;
    font-style: italic;
}

.subscribe-form input[type="submit"] {
    width: 68px;
    padding: 13px 0 14px;
    border: 0;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    background: #035f0b;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.footer-bar {
    padding: 30px 0;
    font-size: 18px;
    color: #7b7b7b;
    background: #383d08;
    text-align: center;
}